<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Budget Tracker</h1>
    <h2>Summary</h2>
    <p>Total Income: ${{ total_income }}</p>
    <p>Total Expenses: ${{ total_expenses }}</p>
    <p>Remaining Budget: ${{ remaining_budget }}</p>

    <h2>Transactions</h2>
    <h3>Income</h3>
    <ul style="text-indent: 400px; list-style-type: none;">
        {% for item in income %}
            <li>{{ item.category }}: ${{ item.amount }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('view_transactions', transaction_type='income') }}">View Income</a>

    <h3>Expenses</h3>
    <ul style="text-indent: 400px; list-style-type: none;">
        {% for item in expenses %}
            <li>{{ item.category }}: ${{ item.amount }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('view_transactions', transaction_type='expenses') }}">View Expenses</a>

    <br><br>
    <a href="{{ url_for('add_transaction') }}">Add Transaction</a>
    <a href="{{ url_for('analyze_expenses') }}">Analyze Expenses</a>
</body>
</html>